.cart-container {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.book-list-container {
  background: linear-gradient(to bottom, #617ca5, #8b79af);
  padding-top: 15px;
}

.book-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.book-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.book-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.book-details h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.book-details p {
  font-size: 14px;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 576px) {
  .book-lists {
    grid-template-columns: 1fr;
  }
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

input[type='text'] {
  padding: 8px;
  width: 30%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='text']:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.description {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(243, 247, 243);
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
